* {
	box-sizing: border-box;
	margin: 0;
}

header {
	text-align: center;
	color: rgb(0, 0, 0);
	padding: 20px;
	background-color: dodgerblue;
}

body {
}

#city-info {
	margin: 10px;
}

.sidebar {
	background-color: rgba(31, 107, 239, 0.549);
	padding: 10px;
}

h3 

.daycard {
	margin: 10px;
	color: rgb(190, 121, 9);
}